@page "/adminclass"
@page "/adminclass/{Id}"
 
@using BlazorApp.Client.Services.ClassesService


@inject HttpClient Http
@inject IClassesService ClassService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center">

    <nav id="navbar" class="navbar @NavMenuCssClass">
        <ul>
            <li><a class="nav-link scrollto" href="/admin">Admin Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" @onclick="ToggleNavMenu"></i>
    </nav><!-- .navbar -->

</header><!-- End Header -->



<section id="admin-links" class="" style="margin-top:1em">
    <div class="container">
        <div class="info-box" style="color: #444444;text-align: left;box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);padding: 20px 10px 30px 10px;">

@if (Id is null)
{
    <PageTitle>Create a new Course</PageTitle>
    <h3>Create a new Class</h3>
}
else
{
     <PageTitle>Edit @cl.Name </PageTitle>
    <h3>Edit @cl.Name  </h3>
}

<EditForm Model="cl" OnValidSubmit="HandleSubmit" OnInvalidSubmit="HandleInvalidSubmit" Context="CurrentEditContext">

    @* <h3>@FormSubmitMessage</h3> *@
    <DataAnnotationsValidator />
    <ValidationSummary />
  
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="cl.Name" class="form-control" />
        <ValidationMessage For="@(() => cl.Name)" />
    </div>


                <div class="form-group">
        <label for="Location">Location</label>
        @* <InputText id="Location" @bind-Value="cl.Location" class="form-control" /> *@
        <InputSelect @bind-Value="cl.Location" class="form-select">
            <option value="">Select Location ...</option>
            <option value="Pythouse (Tennis) Clubhouse, Hatch">Pythouse (Tennis) Clubhouse, Hatch</option>
            <option value="Nadder Centre, Tisbury">Nadder Centre, Tisbury</option>
        </InputSelect>
        <ValidationMessage For="@(() => cl.Location)" />
    </div>
    <div>
    <div class="col-sm-3">
        <label for="Date">Date</label>
        <InputDate id="Date" @bind-Value="cl.Date" class="form-control" />
        <ValidationMessage For="@(() => cl.Date)" />
         </div>
    </div>
                <div class="form-group col-sm-3">
        <label for="StartTime">Start Time</label>
        <InputDate Type="InputDateType.Time" id="StartTime" @bind-Value="cl.StartTime" class="form-control" />
        <ValidationMessage For="@(() => cl.StartTime)" />
    </div>
                <div class="form-group col-sm-3">
        <label for="EndTime">End Time</label>
        <InputDate Type="InputDateType.Time" id="EndTime" @bind-Value="cl.EndTime" class="form-control" />
        <ValidationMessage For="@(() => cl.EndTime)" />
    </div>
                <div class="form-group col-sm-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="cl.Price" class="form-control" />
        <ValidationMessage For="@(() => cl.Price)" />
    </div>

                <div class="form-group col-sm-4">
        <label for="DisplayOnLandingPage">Display On Landing Page</label>
        <InputCheckbox id="DisplayOnLandingPage" @bind-Value="cl.DisplayOnLandingPage" class="" />
        <ValidationMessage For="@(() => cl.DisplayOnLandingPage)" />
    </div>

                <div class="form-group col-sm-3">
        <label for="WeeklyRecurring">Weekly Recurring</label>
        <InputCheckbox id="WeeklyRecurring" @bind-Value="cl.WeeklyRecurring" class="" />
        <ValidationMessage For="@(() => cl.WeeklyRecurring)" />
    </div>

                <div class="form-group col-sm-3">
        <label for="Active">Active</label>
        <InputCheckbox id="Active" @bind-Value="cl.Active" class="" />
        <ValidationMessage For="@(() => cl.Active)" />
    </div>
    
    <div class="form-group">
        <label for="SpecialNotes">Special Notes</label>
        <InputText id="SpecialNotes" @bind-Value="cl.SpecialNotes" class="form-control" />
        <ValidationMessage For="@(() => cl.SpecialNotes)" />
    </div>


    <button type="submit" class="btn btn-primary">@_btnText</button>



</EditForm>

</div>
</div>
</section>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? null : "navbar-mobile";

    private string @CloseMenuCssClass => collapseNavMenu ? "d-none" : "d-flex";

    [Parameter]
    public string? Id { get; set; }

    private SharedModels.Class cl = new SharedModels.Class();
    private string _btnText = string.Empty;
    private bool InvalidSubmit;
    public string FormSubmitMessage { get; set; } = "Form Data Not Submitted";
    private bool _displayDeleteButton { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _btnText = Id == null ? "Save New Class" : "Update Class";
        //await ClassService.GetClasses();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            _displayDeleteButton = true;
            var result = await ClassService.GetClassById(Id);
            if (result is not null)
            {
                cl = result;
            }
            else
                NavigationManager.NavigateTo("/adminclass");
        }
        else
        {
        }


    }

    async Task HandleSubmit()
    {
        try
        {
            InvalidSubmit = false;

            if (Id is null)
            {
                await ClassService.CreateClass(cl);
                NavigationManager.NavigateTo("/adminclasses");
            }
            else
            {
                await ClassService.UpdateClass(cl);
                NavigationManager.NavigateTo("/adminclasses");
            }
        }
        catch (Exception ex)
        {
            FormSubmitMessage = "Error Updating / Creating Class";
        }
    }

    public void HandleInvalidSubmit()
    {
        FormSubmitMessage = "Invalid Submit Not Implemented";
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

